<h1>Choose Option </h1> 
<form action="/user" method="GET">
    <button type="submit">Show User</button>
</form>
<br>
<form action="/trans" method="GET">
    <button>Make transaction</button>
</form>
<br>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>